<main class="main">
  <div class="containerInputs">
    <div class="containerCustomerSelect">
      <select [formControl]="selectedCustomer">
        <option *ngFor="let customer of posts" [value]="customer.customerNumber">
          {{ customer.customerNumber }} - {{ customer.customerName }}
        </option>
      </select>
      <button (click)="loadOrdersForCustomer()">Cargar Órdenes</button>
    </div>

    <div class="containerCustomersOrdersSelect" *ngIf="orders.length > 0">
      <select [formControl]="selectedOrder">
        <option *ngFor="let order of orders" [value]="order.orderNumber">
          Orden N° {{ order.orderNumber }}
        </option>
      </select>
      <button (click)="loadCustomerInfo()">Cargar Customer info</button>
    </div>
  </div>

  <div class="containerCustomerInfo" *ngIf="selectedCustomerDetail">
    <div class="CusName">
      <div class="detailContent">
        <p>CustomerNumber: <span>{{ selectedCustomerDetail.customerNumber }}</span></p>
      </div>
      
      <div class="detailContent">
        <p>CustomerName: <span>{{ selectedCustomerDetail.customerName }}</span></p>
      </div>

      <div class="detailContent">
        <p>Phone: <span>{{ selectedCustomerDetail.phone }}</span></p>
      </div>

      <div class="detailContent">
        <p>OrderNumber: <span>{{selectedCustomerDetail.orderNumber }}</span></p>
      </div>

      <div class="detailContent">
        <p>OrderDate: <span>{{selectedCustomerDetail.orderDate }}</span></p>
      </div>
    </div>
  </div>
</main>
