<main class="main">
  <div class="containerInputs">
    <div class="containerCustomerSelect">
      <select [formControl]="selectedCustomer">
        <option *ngFor="let customer of uniqueCustomers" [value]="customer.customerNumber">
          {{ customer.customerNumber }} - {{ customer.customerName }}
        </option>
      </select>
      <button (click)="loadOrdersForCustomer()">Cargar Órdenes</button>
    </div>

    <div class="containerCustomersOrdersSelect" *ngIf="orders.length > 0">
      <select [formControl]="selectedOrder">
        <option *ngFor="let order of orders" [value]="order.orderNumber">
          Orden N° {{ order.orderNumber }}
        </option>
      </select>
      <button (click)="loadCustomerInfo()">Cargar Customer info</button>
    </div>
  </div>
  <h2>Informacion de la orden</h2>
  <div class="containerCustomerInfo" *ngIf="selectedCustomerDetail">
    
      <div class="detailContent">
        <p>CustomerNumber:</p>
        <span>{{ selectedCustomerDetail.customerNumber }}</span>
      </div>
      
      <div class="detailContent">
        <p>CustomerName:</p>
        <span>{{ selectedCustomerDetail.customerName }}</span>
      </div>

      <div class="detailContent">
        <p>Phone:</p>
        <span>{{ selectedCustomerDetail.phone }}</span>
      </div>

      <div class="detailContent">
        <p>OrderNumber:</p>
        <span>{{selectedCustomerDetail.orderNumber }}</span>
      </div>

      <div class="detailContent">
        <p>OrderDate:</p>
        <span>{{selectedCustomerDetail.orderDate }}</span>
      </div>
  </div>

  <h2>Informacion del empleado</h2>
  <section class="containerEmployeInfo">
    <div class="containerCustomerInfo" *ngIf="selectedCustomerDetail">
    
      <div class="detailContent">
        <p>Employe Number:</p>
        <span>{{ selectedCustomerEmploye.salesRepEmployeeNumber }}</span>
      </div>
      
      <div class="detailContent">
        <p>Employe Name:</p>
        <span>{{ selectedCustomerEmploye.lastName }} {{ selectedCustomerEmploye.firstName }}</span>
      </div>

      <div class="detailContent">
        <p>Email:</p>
        <span>{{ selectedCustomerEmploye.email }}</span>
      </div>
  </div>
  </section>

  <section class="ordersDetails">
    <h2>Datalles de la orden</h2>
    <table class="table table-striped table-hover"  *ngIf="selectedCustomerDetail">
      <thead>
          <tr>
              <th>N°Orden</th>
              <th>codProducto</th>
              <th>CantOrdenada</th>
              <th>priceEach</th>
              <th>orderLineNumber</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let detail of selectedOrderDetails">
              <td>{{detail.orderNumber}}</td>
              <td>{{detail.productCode}}</td>
              <td>{{detail.quantityOrdered}}</td>
              <td>{{detail.priceEach}}</td>
              <td>{{detail.orderLineNumber}}</td>
          </tr>
      </tbody>
      <tfoot>
          <tr>
            <th>N°Orden</th>
            <th>codProducto</th>
            <th>CantOrdenada</th>
            <th>priceEach</th>
            <th>orderLineNumber</th>
          </tr>
      </tfoot>
  </table>
  </section>
</main>
