*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0 !important;
    overflow: auto !important;
}
.containerInputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.containerCustomerSelect{
    display: flex;
    gap: 20px;
}
.containerCustomerSelect select{
    height: 30px;
}

.containerCustomerSelect button{
    background-color: aqua;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.containerCustomersOrdersSelect{
    display: flex;
    gap: 20px;
}

.containerCustomersOrdersSelect select{
    height: 30px;
}

.containerCustomerInfo{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.detailContent{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.detailContent p{
    margin: 0;
}


.detailContent span{
    height: 100%;
    padding: 10px;
    background-color: gray;
    color: white;
    text-align: center;
}